<div>
    <h2>Eliminar Usuario</h2>
    <div>
      <label for="userSelect">Selecciona un usuario para eliminar:</label>
      <select id="userSelect" [(ngModel)]="selectedUserId" (change)="resetMessages()">
        <option value="">-- Seleccionar Usuario --</option>
        <option *ngFor="let user of users" [value]="user._id">{{ user.name }}</option>
      </select>
    </div>
    
    <button (click)="deleteUser()">Eliminar Usuario</button>
  
    <!-- Mensajes de éxito o error -->
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
  